<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>


 <iframe width="560" height="315" src="<%= @post[:src]%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 <h1> <%= @post[:h1] %></h1>
 <br>
 <p> <%= @post[:body] %></p>
<br>
</div>
  </body>
</html>
