<footer>

  <a href="https://www.youtube.com/"> <button type="button" name="button" >More Videos</button></a>
<br>
<p class="footerp"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.<p>
</footer>
