<nav>
<div>
  <a href="/">  <img id="navpic" src="/images/youtubelogo.png" alt="youtube logo"></a>
  </div>
  <div class="inputbar">
  <input type="input" name="seachbar" value="Search">
</div>
  </nav>
