<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%= @title %></title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/master.css">
      <%= erb(:"partial/navigation", :layout => false) %>
      <%= yield %>
      <%= erb(:"partial/footer", :layout => false) %>
  </body>
</html>
